    <!-- Header -->
    <header class="main_header">
      <!-- Header top bar -->
      <div class="main_top_bar">
          <div class="container">
              <div class="pull-left">
                  <ul class="main_social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  </ul>
              </div>
              <div class="main_right_nav">
                  <ul class="main_user">
                      <li><a href="/inscription"><i class="fa fa-lock"></i>S'inscrire</a></li>
                      <li><a href="/connexion">Se connecter</a></li>
                  </ul>
                  <a href="#" data-toggle="modal" data-target="#search" class="main_search"><i class="fa fa-search"></i></a>
              </div>
          </div>
      </div>
      <!-- Header Top Bar End-->
      <div class="container">
          <!--Logo Bar Start-->
          <div class="main_logo_bar">
              <!--Logo Start-->
              <div class="logo">
                  <a href="#">
                      <img src="/assets/images/logo.png" alt="">
                  </a>
              </div>
              <!--Logo Start-->
              <!--Navigation Wrap Start-->
              <div class="main_navigation">
                  <!--Navigation Start-->
                  <ul class="nav">
                      <li><a href="/accueil">Accueil</a></li>
                      <li>
                          <a href="/team">Team</a>
                      </li>
                      <li>
                          <a href="/compte">Mon compte</a>
                      </li>
                      <li>
                          <a href="/match">Match</a>
                      </li>
                      <li>
                          <a href="/ligue">Ligues</a>
                      </li>
                      <li>
                          <a href="/championnat">Championnat</a>
                      </li>
                  </ul>
                  <!--DL Menu Start-->
                  <div id="main-responsive-navigation" class="dl-menuwrapper">
                      <button class="dl-trigger">Open Menu</button>
                      <ul class="dl-menu">
                          <li><a href="index.html">Accueil</a></li>
                          <li><a href="index.html">Accueil</a></li>
                          <li>
                              <a href="team.html">Team</a>
                          </li>
                          <li>
                              <a href="mon-compte.html">Mon compte</a>
                          </li>
                          <li>
                              <a href="match.html">Match</a>
                          </li>
                          <li>
                              <a href="ligues.html">Ligues</a>
                          </li>
                          <li>
                              <a href="championnat.html">Championnat</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <!--Navigation Wrap End-->
          </div>
          <!--Logo Bar End-->
      </div>
  </header>
  <!--Header End-->