<div class="main_content_wrap">
  <div class="innner_banner">
    <div class="container">
        <h3>Mon compte</h3>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><span>Mon compte</span></li>
        </ul>
    </div>
</div>
    <section>
        <div class="container">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="widget widget_nextmatch">
                    <!--Heading 1 Start-->
                    <h6 class="main_hd1">
                        <span>Mes infos</span>
                    </h6>
                    <!--Heading 1 END-->
                    <div class="main_border">
                        <!--Widget Next Match Dec Start-->
                        <div class="nextmatch_dec">
                            <div class="text-centered">
                              <a href="#"><img src="images/team_logo11.png" alt=""></a>
                            </div>
                            <br>
                            <br>
                            <h6>AracheurdeTetedu56</h6>
                            <span>Jean-luc JEAN</span>
                        </div>
                        <!--Widget Next Match Dec End-->
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="widget widget_nextmatch">
                    <!--Heading 1 Start-->
                    <h6 class="main_hd1">
                        <span>Mes infos</span>
                    </h6>
                    <!--Heading 1 END-->
                    <div class="main_border">
                        <!--Widget Next Match Dec Start-->
                        <div class="nextmatch_dec">
                          <a class="input-btn" href="#">Rejoindre & Créer une équipe</a>
                          <br>
                          <a class="input-btn" href="#">Mot de passe</a>
                          <br>
                          <a class="input-btn" href="#">Assistance</a>
                        </div>
                        <!--Widget Next Match Dec End-->
                    </div>
                </div>
              </div>
            </div>
              <br><br>
              <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="main_overview_contant">
                    <!--Heading 1 Start-->
                    <h6 class="main_hd1 margin_0">
                        <span>Derniers matchs</span>
                    </h6>
                    <!--Heading 1 End-->
                    <!--Table 2 Start-->
                    <ul class="main_table2 main_table4 table-center">
                        <li class="table_head">
                            <div class="tb2_date">
                                <span>Date</span>
                            </div>
                            <div class="versus">
                                <span>Pseudo</span>
                            </div>
                            <div class="tb2_score">
                                <span>Message</span>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Friday, March 16</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Marine Collage</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_score">
                              <a href="match.html">
                                <span>W 107-102</span>
                              </a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Thursday, March 02</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo2.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Marine Collage</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_score">
                              <a href="match.html">
                                <span>W 107-102</span>
                              </a>
                            </div>
                        </li>
                        <li>
                            <div class="tb2_date">
                                <span>Saturday, March 20</span>
                            </div>
                            <div class="versus">
                                <div>
                                    <span><img src="images/team_logo3.png" alt=""></span>
                                    <p>
                                        <a href="#">Ocean Kings</a>
                                        <span>Marine Collage</span>
                                    </p>
                                </div>
                            </div>
                            <div class="tb2_score">
                              <a href="match.html">
                                <span>W 107-102</span>
                              </a>
                            </div>
                        </li>
                    </ul>
                    <!--Table 2 End-->
                </div>
                <!--Overview Contant End-->
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="comment_wrap">
                  <!--Heading 1 Start-->
                  <h6 class="main_hd1">
                      <span>Commentaires</span>
                  </h6>
                  <!--Heading 1 End-->
                  <!--Comment Form Start-->
                  <ul class="comment_form">
                      <li>
                          <!--Comment Dec Form Start-->
                          <div class="comment_dec">
                              <figure><img src="extra-images/commeent1.jpg" alt=""></figure>
                              <div class="text">
                                  <div class="comment_hd">
                                      <h5><a href="#">STEVE ANDERS</a></h5>
                                      <ul>
                                          <li><span><i class="fa fa-user"></i>Postée April 19, 2016</span></li>
                                          <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                                                    </ul>
                                  </div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                              </div>
                          </div>
                          <!--Comment Dec Form End-->
                          <ul>
                              <li>
                                  <!--Comment Dec Form Start-->
                                  <div class="comment_dec">
                                      <figure><img src="extra-images/commeent2.jpg" alt=""></figure>
                                      <div class="text">
                                          <div class="comment_hd">
                                              <h5><a href="#">STEVE ANDERS</a></h5>
                                              <ul>
                                                  <li><span><i class="fa fa-user"></i>Postée April 19, 2016</span></li>
                                                  <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                                                                    </ul>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                                      </div>
                                  </div>
                                  <!--Comment Dec Form End-->
                              </li>
                          </ul>
                      </li>
                      <li>
                          <!--Comment Dec Form Start-->
                          <div class="comment_dec">
                              <figure><img src="extra-images/commeent3.jpg" alt=""></figure>
                              <div class="text">
                                  <div class="comment_hd">
                                      <h5><a href="#">STEVE ANDERS</a></h5>
                                      <ul>
                                          <li><span><i class="fa fa-user"></i>Postée April 19, 2016</span></li>
                                          <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                                                    </ul>
                                  </div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                              </div>
                          </div>
                          <!--Comment Dec Form End-->
                      </li>
                  </ul>
                  <!--Comment Form End-->
              </div>
              </div>
            </div>
        </div>
      </section>
  </div>