
<!--Main Content Wrap End-->
    <!--ticker Wrap Start-->
    <div class="main_ticker-wrap twitter_ticker">
        <div class="container">
            <div class="main_ticker">
                <span><i class="fa fa-twitter"></i></span>
                <div class="main_ticker_slider">
                    <ul class="ticker">
                        <li><p>Le dernier tweet de la team</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--ticker Wrap End-->
<!--Copy Right Wrap Start-->
      <div class="copy_right3">
        <div class="container">
            <p>2019 Made by <a href="http://fabrice-palermo.fr">Fabrice Palermo</a></p>
            <ul class="main_social3">
                <li><a href="http://facebook.com/fabricepalermo57" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://twitter.com/brocolipasfrais"><i class="fa fa-twitter"  target="_blank"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"  target="_blank"></i></a></li>
            </ul>
        </div>
    </div>
    <!--Copy Right Wrap End-->
    <!--Register Pop Up Wrap Start-->
    <div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="search">
        <div class="modal-dialog" role="document">
            <div class="input_dec">
                <input type="text" placeholder="search......">
                <button class="btn_icon"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <!--Register Pop Up Wrap End-->