    <!--Main Content Wrap Start-->
    <div class="main_content_wrap">
      <div class="innner_banner">
        <div class="container">
            <h3>Match</h3>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><span>Team VS TEAM</span></li>
            </ul>
        </div>
    </div>
        <section>
            <div class="container">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                      <div class="widget widget_nextmatch">
                        <!--Heading 1 Start-->
                        <h6 class="main_hd1">
                            <span>TEAM NAME</span>
                        </h6>
                        <!--Heading 1 END-->
                        <div class="main_border">
                            <!--Widget Next Match Dec Start-->
                            <div class="nextmatch_dec">
                                <div class="text-centered">
                                  <a href="#"><img src="images/team_logo11.png" alt=""></a>
                                </div>
                                <br>
                                <h6>League name</h6>
                                <span>Friday, 10th Sep, 2016, 16:00GMT</span>
                            </div>
                            <!--Widget Next Match Dec End-->
                        </div>
                    </div>
                    <div class="widget widget_nextmatch" style="margin-top: 20px;">
                      <!--Heading 1 Start-->
                      <h6 class="main_hd1">
                          <span>Informations</span>
                      </h6>
                      <!--Heading 1 END-->
                      <div class="main_border">
                          <!--Widget Next Match Dec Start-->
                          <div class="nextmatch_dec">
                            <p style="padding:0% 5%;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue libero, semper nec dapibus egestas, faucibus eu est. Morbi finibus sodales malesuada. Proin eu ipsum eget sapien rhoncus lobortis. Integer sit amet laoreet odio, eget efficitur dolor. Aliquam porttitor viverra purus. Aenean efficitur magna a enim feugiat, id lacinia est lobortis. Fusce gravida imperdiet ligula sed dapibus. Nunc ut nisl libero.
                            </p>
                          </div>
                          <!--Widget Next Match Dec End-->
                      </div>
                  </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="widget widget_nextmatch">
                            <!--Heading 1 Start-->
                            <h6 class="main_hd1">
                                <span>Rencontre</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="main_border">
                                <!--Widget Next Match Dec Start-->
                                <div class="nextmatch_dec">
                                    <h6>Laliga Semi Finals at city stadium</h6>
                                    <span>Friday, 10th Sep, 2016, 16:00GMT</span>
                                    <div class="match_teams">
                                        <div class="pull-left">
                                            <a href="#"><img src="images/team_logo11.png" alt=""></a>
                                            <br>
                                            <h5>TEAM NAME</h5>
                                        </div>
                                        <span>vs</span>
                                        <div class="pull-right">
                                            <a href="#"><img src="images/team_logo12.png" alt=""></a>
                                            <br>
                                            <h5>TEAM NAME</h5>
                                        </div>
                                    </div>
                                    <h5>Commence dans</h5>
                                    <ul class="main_countdown countdown">
                                            <li>
                                                <span class="days">69</span>
                                                <p class="days_ref">jours</p>
                                            </li>
                                            <li>
                                                <span class="hours">13</span>
                                                <p class="hours_ref">heures</p>
                                            </li>
                                            <li>
                                                <span class="minutes">44</span>
                                                <p class="minutes_ref">minutes</p>
                                            </li>
                                            <li>
                                                <span class="seconds last">12</span>
                                                <p class="seconds_ref">secondes</p>
                                            </li>
                                        </ul>
                                    <!--Widget COUNT Down End-->
                                </div>
                                <!--Widget Next Match Dec End-->
                            </div>
                        </div>

                    <div class="comment_wrap" style="margin-top: 20px;">
                      <!--Heading 1 Start-->
                      <h6 class="main_hd1">
                          <span>Commentaires</span>
                      </h6>
                      <!--Heading 1 End-->
                      <!--Comment Form Start-->
                      <ul class="comment_form">
                          <li>
                              <!--Comment Dec Form Start-->
                              <div class="comment_dec">
                                  <figure><img src="extra-images/commeent1.jpg" alt=""></figure>
                                  <div class="text">
                                      <div class="comment_hd">
                                          <h5><a href="#">STEVE ANDERS</a></h5>
                                          <ul>
                                              <li><span><i class="fa fa-user"></i>Postée April 19, 2016</span></li>
                                              <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                                                        </ul>
                                      </div>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                                  </div>
                              </div>
                              <!--Comment Dec Form End-->
                              <ul>
                                  <li>
                                      <!--Comment Dec Form Start-->
                                      <div class="comment_dec">
                                          <figure><img src="extra-images/commeent2.jpg" alt=""></figure>
                                          <div class="text">
                                              <div class="comment_hd">
                                                  <h5><a href="#">STEVE ANDERS</a></h5>
                                                  <ul>
                                                      <li><span><i class="fa fa-user"></i>Postée April 19, 2016</span></li>
                                                      <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                                                                        </ul>
                                              </div>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                                          </div>
                                      </div>
                                      <!--Comment Dec Form End-->
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <!--Comment Dec Form Start-->
                              <div class="comment_dec">
                                  <figure><img src="extra-images/commeent3.jpg" alt=""></figure>
                                  <div class="text">
                                      <div class="comment_hd">
                                          <h5><a href="#">STEVE ANDERS</a></h5>
                                          <ul>
                                              <li><span><i class="fa fa-user"></i>Postée April 19, 2016</span></li>
                                              <li><span><i class="fa fa-clock-o"></i>7:30 p.m</span></li>
                                                                                        </ul>
                                      </div>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
                                  </div>
                              </div>
                              <!--Comment Dec Form End-->
                          </li>
                      </ul>
                      <!--Comment Form End-->
                  </div>
                </div>
                </div>
            </div>
          </section>
      </div>
      <!--Main Content Wrap End-->