    <!--Main Content Wrap Start-->
    <div class="main_content_wrap">
      <div class="innner_banner">
        <div class="container">
            <h3>Ligues</h3>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><span>Ligue conforama</span></li>
            </ul>
        </div>
    </div>
        <section>
            <div class="container-fluid">
                  <div class="row" style="margin-bottom: 25px;">
                    <div class="col-lg-3 col-md-4 col-xs-12">
                      <div class="widget widget_nextmatch">
                        <!--Heading 1 Start-->
                        <h6 class="main_hd1">
                            <span>LEAGUE NAME</span>
                        </h6>
                        <!--Heading 1 END-->
                        <div class="main_border">
                            <!--Widget Next Match Dec Start-->
                            <div class="nextmatch_dec">
                                <div class="text-centered">
                                  <a href="#"><img src="images/team_logo11.png" alt=""></a>
                                </div>
                                <br>
                                <h6>League name</h6>
                                <span>Friday, 10th Sep, 2016, 16:00GMT</span>
                            </div>
                            <!--Widget Next Match Dec End-->
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-12">
                    <div class="widget widget_nextmatch">
                      <!--Heading 1 Start-->
                      <h6 class="main_hd1">
                          <span>LEAGUE NAME</span>
                      </h6>
                      <!--Heading 1 END-->
                      <div class="main_border">
                          <!--Widget Next Match Dec Start-->
                          <div class="nextmatch_dec">
                              <div class="text-centered">
                                <a href="#"><img src="images/team_logo11.png" alt=""></a>
                              </div>
                              <br>
                              <h6>League name</h6>
                              <span>Friday, 10th Sep, 2016, 16:00GMT</span>
                          </div>
                          <!--Widget Next Match Dec End-->
                      </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12">
                  <div class="widget widget_nextmatch">
                    <!--Heading 1 Start-->
                    <h6 class="main_hd1">
                        <span>LEAGUE NAME</span>
                    </h6>
                    <!--Heading 1 END-->
                    <div class="main_border">
                        <!--Widget Next Match Dec Start-->
                        <div class="nextmatch_dec">
                            <div class="text-centered">
                              <a href="#"><img src="images/team_logo11.png" alt=""></a>
                            </div>
                            <br>
                            <h6>League name</h6>
                            <span>Friday, 10th Sep, 2016, 16:00GMT</span>
                        </div>
                        <!--Widget Next Match Dec End-->
                    </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="widget widget_nextmatch">
                  <!--Heading 1 Start-->
                  <h6 class="main_hd1">
                      <span>LEAGUE NAME</span>
                  </h6>
                  <!--Heading 1 END-->
                  <div class="main_border">
                      <!--Widget Next Match Dec Start-->
                      <div class="nextmatch_dec">
                          <div class="text-centered">
                            <a href="#"><img src="images/team_logo11.png" alt=""></a>
                          </div>
                          <br>
                          <h6>League name</h6>
                          <span>Friday, 10th Sep, 2016, 16:00GMT</span>
                      </div>
                      <!--Widget Next Match Dec End-->
                  </div>
              </div>
            </div>
            </div>
            <div class="main-pagination text-center">
              <span class="page-numbers current">1</span>
              <a class="page-numbers" href="#">2</a>
              <a class="page-numbers" href="#">3</a>
              <a class="page-numbers border_none" href="#">...</a>
              <a class="page-numbers" href="#">18</a>
              <a class="page-numbers" href="#">19</a>
              <a class="page-numbers" href="#">20</a>
            </div>
          </div>
        </section>
    </div>
    <!--Main Content Wrap End-->