    <!--Main Content Wrap Start-->
    <div class="main_content_wrap">
        <div class="innner_banner">
          <div class="container">
              <h3>Championnat</h3>
              <ul class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li class="active"><span>Championnat</span></li>
              </ul>
          </div>
      </div>
          <section>
              <div class="container">
                  <div class="row">
                    <section class="team_st_page">
                                <div class="container">
                                  <div class="col-md-4 col-xs-12">
                                    <div class="widget widget_nextmatch">
                                        <!--Heading 1 Start-->
                                        <h6 class="main_hd1">
                                            <span>1</span>
                                        </h6>
                                        <!--Heading 1 END-->
                                        <div class="main_border">
                                            <!--Widget Next Match Dec Start-->
                                            <div class="nextmatch_dec">
                                                <div class="text-centered">
                                                  <a href="#"><img src="images/team_logo11.png" alt=""></a>
                                                </div>
                                                <br>
                                                <br>
                                                <h6>TEAM NAME</h6>
                                            </div>
                                            <!--Widget Next Match Dec End-->
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4 col-xs-12">
                                    <div class="widget widget_nextmatch">
                                        <!--Heading 1 Start-->
                                        <h6 class="main_hd1">
                                            <span>2</span>
                                        </h6>
                                        <!--Heading 1 END-->
                                        <div class="main_border">
                                            <!--Widget Next Match Dec Start-->
                                            <div class="nextmatch_dec">
                                                <div class="text-centered">
                                                  <a href="#"><img src="images/team_logo11.png" alt=""></a>
                                                </div>
                                                <br>
                                                <br>
                                                <h6>TEAM NAME</h6>
                                            </div>
                                            <!--Widget Next Match Dec End-->
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4 col-xs-12">
                                    <div class="widget widget_nextmatch">
                                        <!--Heading 1 Start-->
                                        <h6 class="main_hd1">
                                            <span>3</span>
                                        </h6>
                                        <!--Heading 1 END-->
                                        <div class="main_border">
                                            <!--Widget Next Match Dec Start-->
                                            <div class="nextmatch_dec">
                                                <div class="text-centered">
                                                  <a href="#"><img src="images/team_logo11.png" alt=""></a>
                                                </div>
                                                <br>
                                                <br>
                                                <h6>TEAM NAME</h6>
                                            </div>
                                            <!--Widget Next Match Dec End-->
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                  <br><br>
                                  <div class="row">
                                    <!--Overview Contant Start-->
                                    <div class="main_overview_contant">
                                        <!--Heading 1 Start-->
                                        <h6 class="main_hd1 margin_0">
                                            <span>Classement</span>
                                        </h6>
                                        <!--Heading 1 End-->
                                        <!--Table 2 Start-->
                                        <ul class="main_table2 team_st_table">
                                            <li class="table_head">
                                                <div class="tb2_position">
                                                    <span>Pos</span>
                                                </div>
                                                <div class="versus">
                                                    <span>Team</span>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>w</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>l</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>Pct</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>gb</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>Home</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>road</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>div</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>ppg</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>oppg</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>diff</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>strk</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>l10</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo2.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo3.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo4.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo5.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo6.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo7.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo8.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo9.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo10.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo11.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tb2_position">
                                                    <span>01</span>
                                                </div>
                                                <div class="versus">
                                                    <div>
                                                        <span><img src="images/team_logo.png" alt=""></span>
                                                        <p>
                                                            <a href="#">Ocean Kings</a>
                                                            <span>Marine Collage</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tb2_win">
                                                    <span>45</span>
                                                </div>
                                                <div class="tb2_lose">
                                                    <span>5</span>
                                                </div>
                                                <div class="tb2_pct">
                                                    <span>.652</span>
                                                </div>
                                                <div class="tb2_gb">
                                                    <span>0</span>
                                                </div>
                                                <div class="tb2_home">
                                                    <span>33-0</span>
                                                </div>
                                                <div class="tb2_road">
                                                    <span>24-17</span>
                                                </div>
                                                <div class="tb2_div">
                                                    <span>8-8</span>
                                                </div>
                                                <div class="tb2_ppg">
                                                    <span>104.3</span>
                                                </div>
                                                <div class="tb2_oppg">
                                                    <span>98.3</span>
                                                </div>
                                                <div class="tb2_diff">
                                                    <span>+6.0</span>
                                                </div>
                                                <div class="tb2_strk">
                                                    <span>l1</span>
                                                </div>
                                                <div class="tb2_l10">
                                                    <span>6-4</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <!--Table 2 End-->
                                        <!--Pagination Start-->
                                        <ul class="main_table table_style3">
                                            <li>
                                                <div class="table_info">
                                                    <span><b>W:</b> Wings</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>gb:</b> Game Back</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>div:</b> Division record</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>diff:</b> Average Point Differential</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="table_info">
                                                    <span><b>l:</b> loose</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>home:</b> Home Record</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>ppg:</b> Points per Game</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>strk:</b> Current Streak</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="table_info">
                                                    <span><b>pct:</b> Winning percentage</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>road:</b> Road Record</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>OPP PPG:</b> Opponent Points per Game</span>
                                                </div>
                                                <div class="table_info">
                                                    <span><b>l10:</b> Record Last 10 Games</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <!--Pagination End-->
                                    </div>
                                    <!--Overview Contant End-->
                                </div>
                            </section>
                  </div>
              </div>
            </section>
        </div>