    <!--Main Content Wrap Start-->
    <div class="main_content_wrap">
      <div class="innner_banner">
        <div class="container">
            <h3>Title</h3>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><span>Template</span></li>
            </ul>
        </div>
    </div>
      <section class="team_st_page">
          <div class="container-fluid">
            <div class="col-md-4 col-xs-12">
              <div class="widget widget_nextmatch">
                <!--Heading 1 Start-->
                <h6 class="main_hd1">
                    <span>TEAM NAME</span>
                </h6>
                <!--Heading 1 END-->
                <div class="main_border">
                    <!--Widget Next Match Dec Start-->
                    <div class="nextmatch_dec">
                        <div class="text-centered">
                          <a href="#"><img src="images/team_logo11.png" alt=""></a>
                        </div>
                        <br>
                        <a class="input-btn" href="#">Rejoindre</a>
                        <a class="input-btn" href="#">Historique</a>
                    </div>
                    <!--Widget Next Match Dec End-->
                </div>
            </div>
            <div class="widget widget_nextmatch" style="margin-top: 20px;">
              <!--Heading 1 Start-->
              <h6 class="main_hd1">
                  <span>Informations</span>
              </h6>
              <!--Heading 1 END-->
              <div class="main_border">
                  <!--Widget Next Match Dec Start-->
                  <div class="nextmatch_dec">
                    <p style="padding:0% 5%;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue libero, semper nec dapibus egestas, faucibus eu est. Morbi finibus sodales malesuada. Proin eu ipsum eget sapien rhoncus lobortis. Integer sit amet laoreet odio, eget efficitur dolor. Aliquam porttitor viverra purus. Aenean efficitur magna a enim feugiat, id lacinia est lobortis. Fusce gravida imperdiet ligula sed dapibus. Nunc ut nisl libero.
                    </p>
                  </div>
                  <!--Widget Next Match Dec End-->
              </div>
          </div>
            </div>
            <div class="col-md-8 col-xs-12">
              <!--Overview Contant Start-->
              <div class="main_overview_contant">
                  <!--Heading 1 Start-->
                  <h6 class="main_hd1 margin_0">
                      <span>Latest Result</span>
                  </h6>
                  <!--Heading 1 End-->
                  <!--Table 2 Start-->
                  <ul class="main_table2 main_table4 table-center">
                      <li class="table_head">
                          <div class="tb2_date">
                              <span>Date</span>
                          </div>
                          <div class="versus">
                              <span>Adversaire</span>
                          </div>
                          <div class="tb2_score">
                              <span>Score</span>
                          </div>
                      </li>
                      <li>
                          <div class="tb2_date">
                              <span>Friday, March 16</span>
                          </div>
                          <div class="versus">
                              <div>
                                  <span><img src="images/team_logo.png" alt=""></span>
                                  <p>
                                      <a href="#">Ocean Kings</a>
                                      <span>Marine Collage</span>
                                  </p>
                              </div>
                          </div>
                          <div class="tb2_score">
                            <a href="match.html">
                              <span>W 107-102</span>
                            </a>
                          </div>
                      </li>
                      <li>
                          <div class="tb2_date">
                              <span>Thursday, March 02</span>
                          </div>
                          <div class="versus">
                              <div>
                                  <span><img src="images/team_logo2.png" alt=""></span>
                                  <p>
                                      <a href="#">Ocean Kings</a>
                                      <span>Marine Collage</span>
                                  </p>
                              </div>
                          </div>
                          <div class="tb2_score">
                            <a href="match.html">
                              <span>W 107-102</span>
                            </a>
                          </div>
                      </li>
                      <li>
                          <div class="tb2_date">
                              <span>Saturday, March 20</span>
                          </div>
                          <div class="versus">
                              <div>
                                  <span><img src="images/team_logo3.png" alt=""></span>
                                  <p>
                                      <a href="#">Ocean Kings</a>
                                      <span>Marine Collage</span>
                                  </p>
                              </div>
                          </div>
                          <div class="tb2_score">
                            <a href="match.html">
                              <span>W 107-102</span>
                            </a>
                          </div>
                      </li>
                      <li>
                          <div class="tb2_date">
                              <span>Friday, March 16</span>
                          </div>
                          <div class="versus">
                              <div>
                                  <span><img src="images/team_logo4.png" alt=""></span>
                                  <p>
                                      <a href="#">Ocean Kings</a>
                                      <span>Marine Collage</span>
                                  </p>
                              </div>
                          </div>
                          <div class="tb2_score">
                            <a href="match.html">
                              <span>W 107-102</span>
                            </a>
                          </div>
                      </li>
                      <li>
                          <div class="tb2_date">
                              <span>Friday, March 16</span>
                          </div>
                          <div class="versus">
                              <div>
                                  <span><img src="images/team_logo.png" alt=""></span>
                                  <p>
                                      <a href="#">Ocean Kings</a>
                                      <span>Marine Collage</span>
                                  </p>
                              </div>
                          </div>
                          <div class="tb2_score">
                            <a href="match.html">
                              <span>W 107-102</span>
                            </a>
                          </div>
                      </li>
                      <li>
                          <div class="tb2_date">
                              <span>Thursday, March 02</span>
                          </div>
                          <div class="versus">
                              <div>
                                  <span><img src="images/team_logo2.png" alt=""></span>
                                  <p>
                                      <a href="#">Ocean Kings</a>
                                      <span>Marine Collage</span>
                                  </p>
                              </div>
                          </div>
                          <div class="tb2_score">
                            <a href="match.html">
                              <span>W 107-102</span>
                            </a>
                          </div>
                      </li>
                      <li>
                          <div class="tb2_date">
                              <span>Saturday, March 20</span>
                          </div>
                          <div class="versus">
                              <div>
                                  <span><img src="images/team_logo3.png" alt=""></span>
                                  <p>
                                      <a href="#">Ocean Kings</a>
                                      <span>Marine Collage</span>
                                  </p>
                              </div>
                          </div>
                          <div class="tb2_score">
                            <a href="match.html">
                              <span>W 107-102</span>
                            </a>
                          </div>
                      </li>
                      <li>
                          <div class="tb2_date">
                              <span>Friday, March 16</span>
                          </div>
                          <div class="versus">
                              <div>
                                  <span><img src="images/team_logo4.png" alt=""></span>
                                  <p>
                                      <a href="#">Ocean Kings</a>
                                      <span>Marine Collage</span>
                                  </p>
                              </div>
                          </div>
                          <div class="tb2_score">
                            <a href="match.html">
                              <span>W 107-102</span>
                            </a>
                          </div>
                      </li>
                  </ul>
                  <!--Table 2 End-->
              </div>
              <!--Overview Contant End-->
            </div>
          </div>
        </section>
    </div>
    <!--Main Content Wrap End-->