
    <!--Hero Wrap Start-->
    <div class="hero_banner">
      <div class="main_banner">
          <div>
              <!--Banner Thumb START-->
              <div class="thumb">
                  <img src="/assets/extra-images/banner1.jpg" alt="">
                  <div class="container">
                      <div class="banner_caption text-center">
                          <span>Major #1</span>
                          <h1>
                            Missfits <b>vs</b> G2
                          </h1>
                          <p>le 25/02/2019 à la Lyon E-Sport</p>
                          <a href="#" class="btn-1">Je réserve</a>
                      </div>
                  </div>
              </div>
              <!--Banner Thumb End-->
          </div>
          <div>
              <!--Banner Thumb START-->
              <div class="thumb">
                  <img src="/assets/extra-images/banner1.jpg" alt="">
                  <div class="container">
                      <div class="banner_caption text-left">
                          <span>Tournoi</span>
                          <h1>
                              Missfits <b>vs</b> G2
                          </h1>
                          <p>Sep 09, Aguana Stadium North London , UK</p>
                          <a href="#" class="btn-1">Buy Tickets Now</a>
                      </div>
                  </div>
              </div>
              <!--Banner Thumb End-->
          </div>
          <div>
              <!--Banner Thumb START-->
              <div class="thumb">
                  <img src="/assets/extra-images/banner1.jpg" alt="">
                  <div class="container">
                      <div class="banner_caption text-right">
                          <span>Season Opening !!</span>
                          <h1>
                            Missfits <b>vs</b> G2
                          </h1>
                          <p>Sep 09, Aguana Stadium North London , UK</p>
                          <a href="#" class="btn-1">Buy Tickets Now</a>
                      </div>
                  </div>
              </div>
              <!--Banner Thumb End-->
          </div>
      </div>
  </div>
  <!--Hero Wrap End-->

  <div class="main_ticker-wrap">
      <div class="container">
          <div class="main_ticker">
              <span>Dernières news</span>
              <div class="main_ticker_slider">
                  <ul class="ticker">
                      <li><p>Missfits perd 3 - 0 en finale </p></li>
                      <li><p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy </p></li>
                      <li><p>Sanctus est Lorem ipsum dolor sit amet. </p></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!--Main Content Wrap Start-->
  <div class="main_content_wrap">
      <section>
          <div class="container">
              <div class="row">
                  <div class="col-md-8">
                      <!--Featured Slider Start-->
                      <div class="main_featured_slider">
                          <!--Heading 1 Start-->
                          <h6 class="main_hd1">
                              <span>Articles</span>
                          </h6>
                          <!--Heading 1 END-->
                          <div class="featured_slider">
                              <div>
                                  <div class="main_featured_thumb">
                                      <figure>
                                          <img src="/assets/extra-images/feature_slider.jpg" alt="">
                                      </figure>
                                      <div class="text">
                                          <h6>League of legend S10</h6>
                                          <h2><a href="blog-detail.html">Faut t'il nerf yorick top ?</a></h2>
                                          <span>11 Sep, 2019 / Fabrice Palermo</span>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="main_featured_thumb">
                                      <figure>
                                          <img src="/assets/extra-images/feature_slider.jpg" alt="">
                                      </figure>
                                      <div class="text">
                                          <h6>LOL world cup 2019</h6>
                                          <h2><a href="blog-detail.html">Germany vs Argentina</a></h2>
                                          <span>11 Sep, 2019 / Anna Smith</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--Featured Slider End-->
                      <!--Featured 2 Slider Start-->
                      <div class="main_featured_wrap2">
                          <!--Featured 2 thumb Start-->
                          <div class="main_featured_thumb">
                              <figure>
                                  <img src="/assets/extra-images/feature_1.jpg" alt="">
                              </figure>
                              <div class="text_wrper">
                                  <div class="text">
                                      <h6>LOL world cup 2019</h6>
                                      <h2><a href="#">Italy</a> <small>VS</small><a href="#"> England</a></h2>
                                      <span>11 Sep, 2019 / Anna Smith</span>
                                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod ut labore et dolore magna aliquyam </p>
                                      <a class="btn_2" href="#">Read More</a>
                                  </div>
                                  <div class="thumb_footer">
                                      <div class="admin_thumb">
                                          <figure><img src="/assets/extra-images/admin.jpg" alt=""></figure>
                                          <h6><a href="#">Alba Smith</a></h6>
                                      </div>
                                      <ul class="blog_meta">
                                          <li>
                                              <span><i class="fa fa-eye"></i>169</span>
                                          </li>
                                          <li>
                                              <span class="heart"><i class="fa fa-heart-o"></i>477</span>
                                          </li>
                                          <li>
                                              <a href="#"><i class="fa fa-comment-o"></i>09</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!--Featured 2 thumb End-->
                          <!--Featured 2 thumb Start-->
                          <div class="main_featured_thumb">
                              <div class="text_wrper">
                                  <div class="text">
                                      <h6>LOL world cup 2019</h6>
                                      <h2><a href="#">Italy</a> <small>VS</small><a href="blog-detail.html"> England</a></h2>
                                      <span>11 Sep, 2019 / Anna Smith</span>
                                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod ut labore et dolore magna aliquyam </p>
                                      <a class="btn_2" href="blog-detail.html">Read More</a>
                                  </div>
                                  <div class="thumb_footer">
                                      <div class="admin_thumb">
                                          <figure><img src="/assets/extra-images/admin.jpg" alt=""></figure>
                                          <h6><a href="#">Alba Smith</a></h6>
                                      </div>
                                      <ul class="blog_meta">
                                          <li>
                                              <span><i class="fa fa-eye"></i>169</span>
                                          </li>
                                          <li>
                                              <span class="heart"><i class="fa fa-heart-o"></i>477</span>
                                          </li>
                                          <li>
                                              <a href="#"><i class="fa fa-comment-o"></i>09</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <figure>
                                  <img src="/assets/extra-images/feature_2.jpg" alt="">
                              </figure>
                          </div>
                          <!--Featured 2 thumb End-->
                      </div>
                      <!--Featured 2 Slider End-->

                  </div>
                  <aside class="col-md-4">
                    <!--Widget Ranking Start-->
                    <div class="widget widget_ranking widget_league_table">
                        <!--Heading 1 Start-->
                        <h6 class="main_hd1">
                            <span>League</span>
                        </h6>
                        <!--Heading 1 END-->
                        <div class="main_border">
                            <!--Table Wrap Start-->
                            <ul class="main_table">
                                <li class="table_head">
                                    <div class="team_name">
                                        <strong>Team</strong>
                                    </div>
                                    <div class="team_logo">
                                    </div>
                                    <div class="match_win">
                                        <strong>w</strong>
                                    </div>
                                    <div class="match_loss">
                                        <strong>l</strong>
                                    </div>
                                    <div class="team_point">
                                        <strong>pts</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>1</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo.png" alt=""></span>
                                        <a href="#">Ac milan</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>2</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo2.png" alt=""></span>
                                        <a href="#">Chelsae</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>3</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo3.png" alt=""></span>
                                        <a href="#">Real Madrid</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>4</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo4.png" alt=""></span>
                                        <a href="#">Bryan munich</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>5</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo5.png" alt=""></span>
                                        <a href="#">Sevilla FC</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>6</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo6.png" alt=""></span>
                                        <a href="#">Athletico Madris</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>7</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo7.png" alt=""></span>
                                        <a href="#">Valencia FC</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>8</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo8.png" alt=""></span>
                                        <a href="#">Real Belts</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>9</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo9.png" alt=""></span>
                                        <a href="#">FC barcelona</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="table_no">
                                        <span>10</span>
                                    </div>
                                    <div class="team_logo">
                                        <span><img src="/assets/images/team_logo10.png" alt=""></span>
                                        <a href="#">malaga FC</a>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="match_win">
                                        <span>99</span>
                                    </div>
                                    <div class="team_point">
                                        <span>99</span>
                                    </div>
                                </li>
                            </ul>
                            <!--Table Wrap End-->
                        </div>
                    </div>
                    <!--Widget Ranking End-->
                      <!--Widget Ranking Start-->
                      <div class="widget widget_recentnews gallery">
                          <!--Heading 1 Start-->
                          <h6 class="main_hd1">
                              <span>News</span>
                          </h6>
                          <!--Heading 1 END-->
                          <div class="main_border">
                              <!--Recent News Start-->
                              <div class="main_recentnews">
                                  <figure>
                                      <a href="extra-images/recent_1.jpg">
                                          <img src="/assets/extra-images/recent_1.jpg" alt="">
                                      </a>
                                  </figure>
                                  <div class="text">
                                      <h6><a href="#">Recent News Heading</a></h6>
                                      <p>The Arch Rivals have two major Victories</p>
                                      <em class="main_date">August 23rd, 2019</em>
                                  </div>
                              </div>
                              <!--Recent News End-->
                              <!--Recent News Start-->
                              <div class="main_recentnews">
                                  <figure>
                                      <a href="blog-detail.html"><img src="/assets/extra-images/recent_2.jpg" alt=""></a>
                                  </figure>
                                  <div class="text">
                                      <h6><a href="blog-detail.html">Recent News Heading</a></h6>
                                      <p>The Arch Rivals have two major Victories</p>
                                      <em class="main_date">August 23rd, 2019</em>
                                  </div>
                              </div>
                              <!--Recent News End-->
                              <!--Recent News Start-->
                              <div class="main_recentnews">
                                  <figure>
                                      <a href="blog-detail.html"><img src="/assets/extra-images/recent_3.jpg" alt=""></a>
                                  </figure>
                                  <div class="text">
                                      <h6><a href="blog-detail.html">Recent News Heading</a></h6>
                                      <p>The Arch Rivals have two major Victories</p>
                                      <em class="main_date">August 23rd, 2019</em>
                                  </div>
                              </div>
                              <!--Recent News End-->
                              <!--Recent News Start-->
                              <div class="main_recentnews">
                                  <figure>
                                      <a href="blog-detail.html"><img src="/assets/extra-images/recent_4.jpg" alt=""></a>
                                  </figure>
                                  <div class="text">
                                      <h6><a href="blog-detail.html">Recent News Heading</a></h6>
                                      <p>The Arch Rivals have two major Victories</p>
                                      <em class="main_date">August 23rd, 2019</em>
                                  </div>
                              </div>
                              <!--Recent News End-->
                          </div>
                      </div>
                  </aside>
              </div>
          </div>
      </section>
  </div>